.emo_containers{
    display: flex;
    justify-content: space-around;
}

.canv-container{
    position: relative;
    padding-top: 1rem;
    background-color: var(--emo-card-bgcolor);
    color:var(--emo-card-color);
    border-radius: 10px;
    box-shadow: var(--emo-card-shadowbox);
    margin:0.5rem;
}


.canv-container >img {
    position: absolute;
    height: 87px;
    width: 80px;
    top: 40%;
    left: 39%;
    bottom: 0;
    right: 0;
}
.eye_img{
    width:85px;
    left:38%;
  }
  
  .like_img{
    width: 70px !important;
    height: 70px !important;
    left: 40% !important;
  }
  .canv-container h4{
      font-size: 1.56rem;
  }
.h4Attention{
    width: max-content;
    margin: 0 auto 1em auto;
    
}  

.h4Satisfaction{
    width: max-content;
    margin: 0 auto 1em auto;
    
}
.h4Autentication{
    width: max-content;
    margin: 0 auto 1em auto;
    
}

@media screen and (max-width: 768px){
    .emo_containers{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 3;
    }
    .canv-container{
        margin-right: 1rem;
    }
    
    }