{% block sidebar %}
<div id="sidebar" class="hidden">
            <nav id="nav-menu" >
                <ul class="nav-menu-items">
                    <div id="navbar-toggle">
        
                        <div id="sidebar-title">
                            <span>Sidebar title</span>
                        </div>
                        <a href="#" class="hide-menu" id="hiding-arrow">
                            <i class="fas fa-chevron-left nav-icon"></i>
                        </a>
                        <!--<a href="#"><h1><i class="fab fa-youtube" id="youtube-logo"></i><span>youtube</span></h1></a>-->
                    </div>
                    <hr />
                    <div class="nav nav-section">
                        <li class="nav-text"><a href="#"><i class="fas fa-home nav-icon"></i><span>Home</span></a></li>
                        <li class="nav-text"><a href="#"><i class="fas fa-fire nav-icon"></i><span> Eventi</span></a></li>
                        <li class="nav-text"><a href="#"><i class="fab fa-youtube nav-icon"></i><span>Statistiche</span></a></li>
                    </div>
                    <hr/>
                    <div class="nav nav-section">
                        <li class="nav-text"><a href="#"><i class="fas fa-play-circle nav-icon"></i><span>Library</span></a></li>
                        <li class="nav-text"><a href="#"><i class="fas fa-history nav-icon"></i><span>Storico</span></a></li>
                        <li class="nav-text"><a href="#"><i class="fas fa-clock nav-icon"></i><span>Prenota Evento</span></a></li>
                    </div>
                </ul>
            </nav>
        </div>
{% endblock %}